body {
    background-color: aqua;
    font-family: 'Lobster', cursive;
}

.header_div{
    color: coral;
    background-color: rgb(3, 187, 254);
}

.header_div p{
    color: rgb(255, 0, 242);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
    position: fixed;
    color: red;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px grey;
}